<%- include('./partials/header.ejs') %>
    <div class="manageUser-container">
      <div id="title">
        <h2>Manage Users</h2>
      </div>

      <div class="new-message-container new-user">
        <a href="#" onclick="openModal()">+</a>
      </div>

      <div id="users-table">
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Manage</th>
            </tr>
          </thead>
          <tbody id="users-table">
            <% users.forEach((item) => { %>
              <tr id="<%= item._id %>">
                <td class="name">
                  <% if(item.avatar){ %>
                    <img src="./uploads/avatars/<%= item.avatar %>" />
                  <% }else{ %>
                    <img src="./images/nophoto.png" />
                  <% } %>
                  <span><%= item.name %></span>
                </td>
                <td><%= item.email %></td>
                <td class="manage">
                  <img src="./images/trash.png" onclick="destroyUser('<%= item._id %>')" alt="Delete" />
                </td>
              </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>

    <%- include('./partials/addUserModal') %>

    <script>
      // delete toast
      const deleteToast = Toastify({
        text: "User deleted successfully!",
        duration: 3000
      })

      // delete error toast
      const deleteErrorToast = Toastify({
        text: "failed to delete the user!",
        duration: 3000
      })

      async function destroyUser(userId) {
        const sure = confirm("Are you sure ?")
        if(sure){
          let response = await fetch(`/users/${userId}`, {
            method: "DELETE"
          })
  
          let result = await response.json()
  
          if(result.errors){
            deleteErrorToast.showToast()
          }else{
            deleteToast.showToast()
            document.getElementById(userId).remove()
          }
        }
      }
    </script>

  </body>
</html>
